# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.var text eol=lf
*.tbl text eol=lf
*.tcl text eol=lf
*.hal text eol=lf
*.ini text eol=lf
*.py text eol=lf

# Declare files that will always have CRLF line endings on checkout.
CHANGELOG text eol=crlf
LICENSE text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.xbm binary
*.deb binary
*.tgz binary
